In [11]:
import numpy as np
import pandas as pd

import time
from datetime import datetime

from IPython.core.display import HTML
import en_nlp_utils

In [6]:
# Adjust the HTML style of the output and set default display options for Pandas
display(HTML("<style>pre { white-space: pre !important; }</style>"))
en_nlp_utils.set_default_pandas_options()

# Define default source path
SRC_PATH = "src/"

start_time = datetime.now()
print("Text processing started at {}".format(start_time))

Text processing started at 2024-02-25 17:16:20.310633

In [7]:
# Load dataset
df_review = pd.read_csv(SRC_PATH + "booking_reviews_details_valid.csv")

In [8]:
# Exclude stopwords
#stopword_exclusion_list = ["no", "not"]
#en_nlp_utils.exclude_stopwords(stopword_exclusion_list)
df_review['happy_review'] = df_review['happy_review'].astype(str)
df_review['unhappy_review'] = df_review['unhappy_review'].astype(str)

df_review_cleaned = en_nlp_utils.normalize_corpus(df_review, "happy_review", "happy_review_cleaned_v1")
df_review_cleaned = en_nlp_utils.normalize_corpus(df_review, "unhappy_review", "unhappy_review_cleaned_v1")
df_review_cleaned.head()

                       hotel_name user_name         country     room_info  no_of_nights_stayed  ...                                     unhappy_review review_date  scraped_at                            happy_review_cleaned_v1                          unhappy_review_cleaned_v1
0  Ascott Raffles Place Singapore      Luis        Portugal  Cutler Suite                  1.0  ...  the night receptionist was unpleasant and not ...  12/12/2022  10/02/2024                 room spacious clean great location                 night reception unpleasant welcome
1  Ascott Raffles Place Singapore       Thi       Australia  Cutler Suite                  4.0  ...                                                nan  29/01/2024  10/02/2024               good location staff friendly helpful                                                nan
2  Ascott Raffles Place Singapore      Kath       Australia  Cutler Suite                  1.0  ...  There was not shower chair in the bathroom for...  16/01/2024  10/02/2024  room spacious quiet clean bathroom wheelchair ...  shower chair bathroom daughter could ask stay ...
3  Ascott Raffles Place Singapore  Mahendra           India  Cutler Suite                  6.0  ...                               Lack of room service  04/01/2024  10/02/2024                                           location                                  lack room service
4  Ascott Raffles Place Singapore     Sarah  United Kingdom  Cutler Suite                  2.0  ...          Only one mirror which was in the bathroom  02/01/2024  10/02/2024  come locate welreception staff lovely really w...                                one mirror bathroom

[5 rows x 15 columns]

In [9]:
end_time = datetime.now()
print("Text processing ended at {}".format(end_time))
print("Text processing spent {}".format(end_time - start_time))

Text processing ended at 2024-02-25 17:59:32.149295
Text processing spent 0:43:11.838662

In [10]:
df_review_cleaned.to_csv(SRC_PATH + "booking_reviews_details_cleaned.csv", index=False, encoding="utf-8")